<script>
	$(document).ready(function(){
		var valArr = new Array();

		$("#button").click(function() {
			valArr[0] = $("#email").val();
			valArr[1] = $("#password").val();		

			$.post("",
						{
							email: valArr[0],
							password: valArr[1]
						},
						function(data, status){
							 alert("Data: " + data + "\nStatus: " + status);
						}
				);
		});		
	});
</script>

<form action="/user/login" method="post">
	<p>Email: <input type="text" name="email" size="20"></p>
	<p>Password: <input type="text" name="password" size="20"></p>
	<input id='button' type="submit" value="Booga">

</form>