<form action="/user/login" method="post">
	<p>Email: <input type="text" name="post[email]" size="20"></p>
	<p>Password: <input type="text" name="post[password]" size="20"></p>
	<input type="submit" value="Booga">

</form>